@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <h3>@ViewBag.CompanyName</h3>
    <h3>@ViewBag.Location</h3>
    <h3>@ViewBag.Participants</h3>
    <h3>@ViewBag.arch</h3>
    <h3>@ViewBag.noOfPro</h3>
   
</div>
